:root {
    --primary-color: #111111;
    --secondary-color: #8b8b8b;
    --background-color: #f0f0f0;
    --border-color: #dcdcdc;
}

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    overflow-x: hidden;
}

/* if portal contains any element, than dissable scroll */
body:has(.portal) {
    overflow: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

